/*
* All pages 
*/

a:hover {
    color: #F2F2F2;
}
body { 
    font-family: 'Quicksand', sans-serif;
}

.container {
    width:50%;
}

.landingPageTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 12vh;
    color: white;
    padding-bottom: 15vh;
}



/*
Index
*/

.carouselHeight1{
    height: 85vh;
} 
.carouselHeight2{
    height: 85vh;
    background-position: center top;
    object-fit:cover;
}


.bgImg1 {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/HomepageBackgrounds/FieldDay.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgImg2 {
    width:100vw;
    height: 100vh; 
    background: green;
    background-image: url(../Images/HomepageBackgrounds/GameNight.jpg);
    background-size: cover;
    background-position: center center;
}

.bgImg3 {
    width:100vw;
    height: 100vh; 
    background: green;
    background-image: url(../Images/HomepageBackgrounds/ACE.jpg);
    background-size: cover;
    background-position: center center;
}

.mainBGTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: black;
    padding-top: 5vh;
}


.introText {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 400;
}



.backgroundColor {
    background-color: #F2F2F2 !important;
}


.paddingTopAndBottom {
    padding-bottom: 15vh;
    padding-top: 15vh;
}

.paddingBottom {
    padding-bottom: 5vh;
}

.borderRadius {
    border-radius: 15%;
}

.grow { 
    transition: all .3s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.05); 
}




/*
Executive Board Page
*/

.execBoardBGImg {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/ExecBoard/Everyone.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;

}

.execBoardBGImg2 {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/ExecBoard/Everyone2.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}


.minHeight {
    min-height: 100vh;
}

.marginTop {
    margin-top: 2vh;
}

.cardWidth {
    width: 30%;
}

.execTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: white;
    padding-bottom: 20vh;
}

.execTitle2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: white;

}

.nameFont {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 4vh;
}

.positionFont {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;

}





/*
NIS
*/
.NISBGImg {
    width:100vw;
    height: 100vh; 
    background-image:  url(../Images/NIS/Photo2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.NISBGImg2 {
    width:100vw;
    height: 100vh; 
    background-image:  url(../Images/HomepageBackgrounds/NIS.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.NISTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: white;

}

.paddingTop {
    padding-top: 5vh;
}

.NISborderRadius {
    border-radius: 00%;
}

.nameFont2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 3vh;
}


/*
Ace Program
*/ 

.AceBGIMG {

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/ACE/LandingBG.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.AceBGIMG2 {

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/ACE/LandingBG2.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Mobile Devices */
@media only screen and (min-width: 300px) and (max-width: 812px)  {


    /*
    All 
    */ 

    .container {
        width: 90%;
    }  

    .paddingTopAndBottom {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }


    /*
    * Index 
    */

    .carouselHeight1{
        height: 40vh;
    } 
    .carouselHeight2{

        height: 40vh;
        object-fit:cover;
    }

    .borderRadius {
        border-radius: 20%;
    }
    .mainBGTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 5vh;
        font-weight: bold;
        color: black;


    }

    .landingPageTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;

    }

    .mainBGTitleNoBottomPadding {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;
        padding-bottom: 0vh;
    }

    .paddingBottom {
        padding-bottom: 0vh;
    }


    .paddingTop {
        padding-top: 2vh;
    }

    .paddingTopNIS {
        padding-top: 7vh;
    }

    .paddingBottomNIS {
        padding-bottom: 5vh;
    }



    /*
    Exec
    */

    .execTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 10vh;
        color: white;
        padding-bottom: 20vh;
    }

    .cardWidth {
        width: 90%;
    }

    .minHeight {
        min-height: 88vh;
    }

    .marginTop {
        margin-top: 3vh;
    }


    /* 
    * NIS
    */

    .NISTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 10vh;
        color: white;
        padding-bottom: 35vh;


    }

    /*
    Ace Program
    */






}

/* Mobile Device Landscape Mode */
@media only screen and (min-width: 300px) and (max-width: 812px) and (orientation : landscape)  {
    .carouselHeight1{
        height: 100vh;
    } 
    .carouselHeight2{

        height: 100vh;
        object-fit:cover;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 812px) and (max-width: 1400px)  {

    /*
    All
    */

    .mainBGTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: black;

    }

    .container {
        width: 90%;
    }  

    /*
    Index 
    */ 

    .paddingTopAndBottom {
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    /*
    Exec
    */

    .minHeight {
        min-height: 100vh;
    }

    .marginTop {
        margin-top: 5vh;
    }

    .cardWidth {
        width: 70%;
    }

    /*
    NIS
    */












}

