/*
* All pages 
*/

body { 
    margin: 0
        font-family: 'Quicksand', sans-serif;
}

.container {
    width:50%;
}


/*
Index
*/

.mainBGImg {
    width:100vw;
    height: 100vh; 
    background-image:  url(../Images/HomepageBackgrounds/Olympics.jpg);
    background-size: cover;
    background-position: center center;
}

.mainBGTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: white;
    padding-bottom: 10vh;
}


.introText {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 400;
}


.mainBGImg2 {
    width:100vw;
    height: 100vh; 
    background: green;
    background-image: url(../Images/HomepageBackgrounds/FieldDay.jpg);
    background-size: cover;
    background-position: center center;
}

.paddingTopAndBottom {
    padding-bottom: 20vh;
    padding-top: 20vh;
}

.paddingBottom {
    padding-bottom: 5vh;
}





/*
Executive Board Page
*/

.execBoardBGImg {
    width:100vw;
    height: 100vh; 
    background-image: url(../Images/ExecBoard/Everyone.jpg);
    background-size: cover;
    background-position: center center;
}

.execBoardBGImg2 {
    width:100vw;
    height: 100vh; 
    background-image: url(../Images/ExecBoard/Everyone2.jpg);
    background-size: cover;
    background-position: center center;
}


.minHeight {
    min-height: 100vh;
}

.marginTop {
    margin-top: 2vh;
}

.cardWidth {
    width: 30%;
}


.nameFont {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.positionFont {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.quoteFont {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



/*
NIS
*/
.NISBGImg {
    width:100vw;
    height: 100vh; 
    background-image:  url(../Images/NIS/Photo2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.NISBGImg2 {
    width:100vw;
    height: 100vh; 
    background-image:  url(../Images/HomepageBackgrounds/NIS.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.paddingTop {
    padding-top: 5vh;
}


/* Mobile Devices */
@media only screen and (min-width: 300px) and (max-width: 812px)  {


    /*
    All 
    */ 

    .container {
        width: 90%;
    }  

    .paddingTopAndBottom {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }


    /*
    * Index 
    */
    .mainBGTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 5vh;
        font-weight: bold;
        color: white;
        padding-top: 20vh;

    }

    .mainBGTitleNoBottomPadding {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;
        padding-bottom: 0vh;
    }
    
    /*
    Exec
    */
    
     .cardWidth {
        width: 90%;
    }
    
     .minHeight {
        min-height: 88vh;
    }

    .marginTop {
        margin-top: 3vh;
    }


    /* 
    * NIS
    */

   
  

   

}

/* Tablet Devices */
@media only screen and (min-width: 812px) and (max-width: 1400px)  {
    
    /*
    All
    */
    
     .mainBGTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;

    }
    
    .container {
        width: 90%;
    }  
    
    /*
    Index 
    */ 
    
    .paddingTopAndBottom {
        padding-top: 20vh;
        padding-bottom: 20vh;
    }
    
    /*
    Exec
    */
    
    .minHeight {
        min-height: 100vh;
    }

    .marginTop {
        margin-top: 5vh;
    }
    
    .cardWidth {
        width: 70%;
    }
    
    /*
    NIS
    */
   

    

    

    

    

    

}

