 /*
* All pages 
*/



.viewHeight20 {
    min-height: 20vh;
}


.viewHeight50 {
    min-height: 30vh;
}

.minHeight70 {
    min-height: 40vh;   
}

.minHeight80 {
    min-height: 80vh;   
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: red;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}


.navbar {
    background-color: black!important;
}

body { 
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

li {
    font-size: 2vh;
}


.container {
    width:70%;
}

.landingPageTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 12vh;
    color: white;
    padding-bottom: 15vh;
}



/*
Index
*/


.rounded {
    border-radius: 3.25rem !important;
}

.indexVSALogo {
    width: 15vw;

}
.vsaLogo {
    width: 7vh;
}

.fontAwesomeIcon {
    font-size: 5vw;
    margin-bottom: 5vh;
}

.indexCardTitle {
    font-size: 8vh;
    text-align: center;
    font-weight: bold;
}

.indexCardSubText {
    font-size: 2.5vh;
}




u {
    text-decoration: none;
    border-bottom: 3px solid black;

}

span {
    border-bottom: 2px solid black;

}

.carouselHeight1{
    height: 85vh;
} 
.carouselHeight2{
    height: 85vh;
    background-position: center top;
    object-fit:cover;
}


.bgImg1 {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/HomepageBackgrounds/FieldDay.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.bgImg2 {
    width:100vw;
    height: 100vh; 
    background: green;
    background-image: url(../Images/HomepageBackgrounds/GameNight.jpg);
    background-size: cover;
    background-position: center center;
}

.bgImg3 {
    width:100vw;
    height: 100vh; 
    background: green;
    background-image: url(../Images/HomepageBackgrounds/ACE.jpg);
    background-size: cover;
    background-position: center center;
}

.mainBGTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: black;
    padding-top: 5vh;
}


.introText {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 400;

}

.footerSpacing {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 400;
}



.grayBackground {
    background-color: #F6F6F8 !important;
}

.blackBackground {
    background-color: #111111 !important;
    color: white;
}

.footerText {
    color: #F80B0F;
    font-size: 2vh
}

.footerRemove {
    text-decoration: none;
}

.colorATag {
    color: #595959 !important;
}

.colorATag :hover{
    color: white !important;
}

a:hover {
    text-decoration: none;
}

.indexPaddingTopAndBottom {
    padding-top: 5%;
    padding-bottom: 5%;
}

.socialMediaIcons {
    color: red;
}

.socialMediaIcons:hover {
    color: black;
}

.minHeight40 {
    min-height: 40vh;
}

.minHeight50 {
    min-height: 50vh!important;
}




.footerPadding {
    padding-bottom: 15vh;
    padding-top: 15vh;
}

.paddingBottom {
    padding-bottom: 5vh;
}

.borderRadius {
    border-radius: 15%;
}

.grow { 
    transition: all .3s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.05); 
}




/*
Who We Are
*/ 

.WhoWeAreBGImg {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/WhoWeAre/MainBG.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.pillarBgIMG {
    width:100vw;
    height: 100vh; 
    background-image:  url(../Images/HomepageBackgrounds/NIS.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}


.fontAwesomeFont {
    font-size: 25vw;
}


/*
Executive Board Page
*/

.maxCardWidth {

    max-width: 40%;

}

.preload {
    display: none;
}

.execBoardBGImg {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/ExecBoard/Everyone.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
 

}

.execBoardBGImg2 {
    height: 120vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/ExecBoard/Everyone2.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
}


.minHeight {
    min-height: 100vh;
}

.marginTop {
    margin-top: 2vh;

}

.execboardMarginRight {
    margin-right: 5%;
}

.containerEBoard {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto

}
.cardWidth {
    width: 30%;
}

.execTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: white;
    padding-bottom: 20vh;
}

.execTitle2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    color: white;
    
}

.nameFont {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 4vh;
    text-decoration: underline;
}

.positionFont {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 3vh;
}

.videoFont {
    font-size: 5vw;
    white-space: nowrap;
}

.NISvideoFont {
    font-size: 4vw;
    white-space: nowrap;
}

.minWidth30 {
    min-width: 30vw;
}



/*
NIS
*/

.NISFlex {
    display: flex;
    flex-direction: column;
}

.nisMinHeight {
    min-height: 80%;

}

 .NISTitle2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 10vh;
        color: white;
        
}

.paddingTopAndBottom {
    padding-top: 8%;
    padding-bottom: 8%;
}

.NISTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 12vh;
    color: white;

}




.NISSubTitle {
    font-size: 30%;
}


.containerNIS {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



.NISBGImg {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/NIS/Photo.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.NISBGImg2 {

    height: 100vh; 
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../Images/NIS/Photo4.jpg');

    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.NISPadding {
    padding-top: 5%;
    padding-bottom: 5%;
}



.paddingTop {
    padding-top: 5vh;
}

.NISborderRadius {
    border-radius: 0%;
}

.NISCardIMG {
    height: 50vh;
}

.nameFont2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    font-size: 3vh;
}


/*
Ace Program
*/ 

.AceBGIMG {

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/ACE/LandingBG.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.AceBGIMG2 {

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/ACE/LandingBG2.jpg');
    background-size: cover;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.ACEContainer {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cardFont {
    font-size: 3vh;
    min-height: 100%;
}

.aceIMG {
    height: 25vh;
    width: 100%;
}

/*
Olympics 
*/

.OlmypicsBGIMG {

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/Olmypics/BgIMG4.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.OlmypicsBGIMG2 {

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/Olmypics/BgIMG5.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}


/*
Awards
*/



.list-group-item {
    font-weight: 900;
}
.AwardsBGIMG {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/WhoWeAre/Awards/backgroundIMG.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.AwardsLogo {
    width: 50%;
}

.minHeightAwards {
    min-height: 100%;
}

.minimumWidth {
    min-width: 100vw;
}

.fa-trophy {
    color: gold;
    
}





/*
Partners
*/

.partnersBG {
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/WhoWeAre/Partners/UVSASEBG3.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}

.partnersImgWidth {
    width: 50%;
}

.partnersLogo {
    width: 30%;
}

.ParternsTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 10vh;
    font-weight: bold;
    color: black;


}

.partnerTitleFont {
    font-size: 8vw;
}

.minCardHeight {
    min-height: 100%;
}

.minCardHeight50 {
    min-height: 50%;
    height:50%;
}


/* Elections */

.electionsTitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    font-size: 8vh;
}

.electionsBGImageTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 13vh;
    color: white;
    
}



.electionsPadding {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.electionsCardTitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-decoration: underline;
    font-size: 5vh;
}

.electionsCardTitle2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 8vh;
    text-decoration: underline;
}

.noIndention {
    list-style-position: inside;
    padding-left: 0;
  }

.electionsCardText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vh;
}

.electionsCardIcon {
    font-size: 20vh;
}

.electionsMinCardWidth {
    min-width: 100vw;
}

.electionsCardContainer {
    width: 100%;
}

.electionsSubTitle {
    font-size: 20%;
}

.listItemSecondIndent {
    padding-left: 20px;
}

.responsibilityListFont {
    font-size: 15px;
}









/* Mobile Devices (iPhone) */
@media only screen and (min-width: 300px) and (max-width: 767px)  {


    /*
    All 
    */ 
    .iconPaddingTop {
        padding-top: 5vh;
    }

    .border-right {
        border-right: 0px solid #dee2e6!important;
    }
    
    

    .indexVSALogo {
        width: 30%;
    }

    .container {
        width: 90%;
    }  

    .vsaLogo {
        width: 7vh;
    }

    .fontAwesomeIcon {
        font-size: 20vw;
        margin-bottom: 5vh;
    }

    .fontAwesomeClear {
        display: none;
    }

    .hvr-underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #343A40;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .paddingTopAndBottom {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .footerPadding {
        padding-top: 5vh;
        padding-bottom: 2vh;
    }


    /*
    * Index 
    */


    .videoFont {
        font-size: 10vw;
    }
    .pillarBold {
        font-size: 9vw;
        font-weight: bold;
    }


    .carouselHeight1{
        height: 40vh;
    } 
    .carouselHeight2{

        height: 40vh;
        object-fit:cover;
    }

    .borderRadius {
        border-radius: 20%;
    }
    .mainBGTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 5vh;
        font-weight: bold;
        color: black;


    }

    .landingPageTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;

    }

    .mainBGTitleNoBottomPadding {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;
        padding-bottom: 0vh;
    }

    .paddingBottom {
        padding-bottom: 0vh;

    }


    .paddingTop {
        padding-top: 2vh;
    }

    .paddingTopNIS {
        padding-top: 7vh;
    }

    .paddingBottomNIS {
        padding-bottom: 5vh;
    }

    .embeddedVideo {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }





    /*
    Exec
    */

    .execTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 10vh;
        color: white;
        padding-bottom: 20vh;
    }

    .maxCardWidth {

        max-width: 100%;

    }

    .execBoardBGImg2 {
        height: 100vh;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/ExecBoard/Everyone2.jpg');
        background-size: cover;
        background-position: center  center;
        background-repeat: no-repeat;
    }

  
    
    

    .cardWidth {
        width: 90%;
    }

    .execboardMarginRight {
        margin-right: 0%;
    }



    .containerEBoard {
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    .minHeight {
        min-height: 88vh;
    }

    .marginTop {
        margin-top: 3vh;
    }


    /* 
    * NIS
    */

    .introText {
        font-family: 'Roboto', sans-serif;
        font-size: 3vh;
        font-weight: 400;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .NISTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: white;

    }

   

    .containerNIS {
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .NISvideoFont {
        font-size: 12vw;
        white-space: nowrap;
    }



    /*
    Ace Program
    */


    .ACEContainer {
        width: 60%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    /*
    Partners
    */

    .partnersPaddingTop {
        padding-top: 10%;
    }

    .partnersPaddingBottom {
        padding-bottom: 10%;
    }

    .partnerTitleFont {
        font-size: 20vw;
    }
    
    /*
    Olympics
    */
    
    .olympicsContainer {
        width: 100%;
    }

    .awardsFont {
        font-size: 120%;
    }

    /* Elections */ 
    .electionsCardTitle2 {
        font-size: 7vh;
        text-align: center;
    }

    .electionsBGImageTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 5vh;
        color: white;
        
    }




}

/* Mobile Device Landscape Mode */
@media only screen and (min-width: 300px) and (max-width: 899px) and (orientation : landscape)  {

   
    .border-right {
        border-right: 0px solid #dee2e6!important;
    }

    .iconPaddingTop {
        padding-top: 3vw;
    }
    
    .container {
        width: 80%;
    }

    .partner-container {
        width: 70%;
    }

    .landScapepaddingTopAndBottom {
        padding-top: 10%;

    }



    .pillarBold {
        font-size: 2vw;
        font-weight: bold;
    }

    .vsaLogo {
        width: 8vw;
    }

    .indexVSALogo {
        padding-top: 5%;
        width: 15%;
    }
    .carouselHeight1{
        height: 100vh;
    } 
    .carouselHeight2{

        height: 100vh;
        object-fit:cover;
    }

    .introText {
        font-family: 'Roboto', sans-serif;
        font-size: 3vh;
        font-weight: 400;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    .containerEBoard {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }



    .containerNIS {
        width: 70%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .minWidth30 {
        min-width: 40vw;
    }

    .cardFont {
        font-size: 1.9vw;
    }

    .NISTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vw;
        color: white;
    }

    .ACEContainer {
        width: 65%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .AwardsLogo {
        width: 100%;
    }

    .fontAwesomeIcon {
        font-size: 5vw;
        margin-bottom: 5vh;
    }


}



/* Tablet Devices (iPad) */

@media only screen and (min-width: 768px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 1366px) {

    /*
    All
    */
    
    .border-right {
        border-right: 0px solid #dee2e6!important;
    }

    .iconPaddingTop {
        padding-top: 5vh;
    }

    .electionsCardTitle2 {
        text-align: center;
        padding-bottom: 2vh;
    }
    

    .mainBGTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 8vh;
        color: black;

    }

    .container {
        width: 90%;
    }  

    .fontAwesomeIcon {
        font-size: 10vw;
        margin-bottom: 5vh;
    }

    /*
    Index 
    */ 



    .pillarFontSize {
        font-size: 10vh;
        text-align: center;

    }





    /*
    Exec
    */

    .execboardMarginRight {
        margin-right: 5%;
    }

    .minHeight {
        min-height: 100vh;
    }

    .marginTop {
        margin-top: 5vh;
    }

    .nameFont {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 3vh;
        text-decoration: underline;
    }

    .cardWidth {
        width: 70%;
    }

    .containerEBoard {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }


    /*
    NIS
    */

    .containerNIS {
        width: 80%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .introText {
        font-family: 'Roboto', sans-serif;
        font-size: 3vh;
        font-weight: 400;

    }

    .NISvideoFont {
        font-size: 7vw;
        white-space: nowrap;
    }

    .minWidth30 {
        min-width: 40vw;
    }

    .NISPadding {
        padding-top: 10%;
        padding-bottom: 10%;
    }



    /*
    Partners
    */

    .ParternsTitle {
        font-family: 'Quicksand', sans-serif;
        font-size: 5vh;
        font-weight: bold;
        color: black;
    }

    .partnersPaddingTop {
        padding-top: 10%;
    }

    .partnersPaddingBottom {
        padding-bottom: 10%;
    }

    .viewHeight20 {
        min-height: 0vh;
    }



    /*
    ACE
    */

    .ACEContainer {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }









}

